@import url(https://fonts.googleapis.com/css?family=Nova+Square);

body{
    font-family: "Nova Square", monospace;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

/* ---Main Layout Blocks --- */

.layoutBlock{
    display: grid;
    grid-template: min-content 1fr/min-content 1fr;
    grid-template-areas: "navBar header" "navBar mainContent";
    height: 100vh;
    width: 100vw;
}

.mainContent{
    background-color: bisque;
    display: grid;
        grid-template: 1fr 1fr/4fr 1fr;
        grid-template-areas: "projects announcements" "projects trending";
    grid-area: mainContent;
}

.header{
    background-color: blue;
    display: grid;
        gap: 3px;
        grid-template: 1fr 1fr/2fr 1fr;
    grid-area: header;
}

.navBar{
    background-color: aqua;
    grid-area: navBar;
    padding: 0px 10px;
}

/* --- Page Elements --- */

.announcements{
    grid-area: announcements;
}

.cornerIcon{
    font-size: 1.25em;
}

.navElement{
    display: flex;
    padding: 5px;
    width: max-content;
}

.navIcon, .navSpacer, .navText{
    align-self: center;
    height: 1em;
    margin: 5px;
}

.project{
    background-color: brown;
}

.projects{
    display: grid;
        gap: 5px;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: 1fr;
    grid-area: projects;
}

.trending{
    grid-area: trending;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
